Repository CSCI-SHU-410-SE-Project/Deskulpt, pull requests merged in 2024-05, with the labels that each got.

#51 API add `@deskulpt/sys` system information APIs
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/canvas.json
  src-tauri/permissions/apis-sys/default.toml
  src-tauri/src/apis/fs/mod.rs
  src-tauri/src/apis/mod.rs
  src-tauri/src/apis/sys/apis.rs
  src-tauri/src/apis/sys/mod.rs
  src-tauri/src/commands.rs
  src-tauri/src/main.rs
  src/.scripts/raw-apis.js
  tooling/apis/package-lock.json
  tooling/apis/package.json
  tooling/apis/src/fs.ts
  tooling/apis/src/raw.ts
  tooling/apis/src/sys.ts
  tooling/react/package.json
Labels: tooling:apis

#47 FEAT/RFC/FIX major refactoring for final presentation
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/canvas.json
  src-tauri/capabilities/common.json
  src-tauri/capabilities/manager.json
  src-tauri/permissions/autogenerated/exit_app.toml
  src-tauri/permissions/autogenerated/init_settings.toml
  src-tauri/permissions/autogenerated/open_widget_base.toml
  src-tauri/permissions/autogenerated/open_widget_directory.toml
  src-tauri/permissions/autogenerated/register_toggle_shortcut.toml
  src-tauri/permissions/autogenerated/toggle_click_through.toml
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/settings.rs
  src-tauri/src/setup.rs
  src-tauri/src/utils.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/canvas/App.tsx
  src/canvas/main.tsx
  src/canvas/utils.tsx
  src/commands.ts
  src/components/AboutTab.tsx
  src/components/ErrorDisplay.tsx
  src/components/ErrorDisplay/index.tsx
  src/components/LogsTab.tsx
  src/components/SettingsTab/ToggleShortcutSetter.tsx
  src/components/SettingsTab/index.tsx
  src/components/SettingsTab/styles.ts
  src/components/WidgetContainer.tsx
  src/components/WidgetContainer/index.tsx
  src/components/WidgetsTab/ConfigPanel.tsx
  src/components/WidgetsTab/Details.tsx
  src/components/WidgetsTab/SettingPanel.tsx
  src/components/WidgetsTab/index.tsx
  src/components/WidgetsTab/styles.ts
  src/events.ts
  src/hooks/useExitAppListener.ts
  src/hooks/useRemoveWidgetsListener.tsx
  src/hooks/useRenderWidgetListener.tsx
  src/hooks/useShowToastListener.tsx
  src/hooks/useToggleShortcut.ts
  src/hooks/useUpdateSettingListener.ts
  src/main.tsx
  src/manager/App.tsx
  src/manager/main.tsx
  src/manager/utils.ts
  src/types/backend.ts
  src/types/frontend.ts
  src/types/index.ts
  src/utils.ts
  tsconfig.json
  views/canvas.html
  views/manager.html
  vite.config.ts
Labels: type:enhancement, type:maintenance

#29 ENH support TypeScript (including `tsx`) in bundler
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bundler.rs
Labels: type:enhancement

#54 DOC generate frontend documentation
  src/canvas/App.tsx
  src/commands.ts
  src/components/WidgetContainer.tsx
  src/components/WidgetsTab/ConfigPanel.tsx
  src/components/WidgetsTab/Details.tsx
  src/components/WidgetsTab/SettingPanel.tsx
  src/components/WidgetsTab/index.tsx
  src/events.ts
  src/hooks/useExitAppListener.ts
  src/hooks/useRemoveWidgetsListener.tsx
  src/hooks/useRenderWidgetListener.tsx
  src/hooks/useUpdateSettingListener.ts
  src/manager/App.tsx
  src/manager/utils.ts
  src/types/frontend.ts
  src/types/index.ts
  website/.gitignore
  website/docs/development/developer-guide/_category_.yaml
  website/docs/development/developer-guide/documentation.mdx
  website/docs/guides/getting-started/installation.mdx
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/sidebars.ts
Labels: type:doc

#56 TST refine `commands.rs` unit tests
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/main.rs
  src-tauri/src/setup.rs
  src-tauri/src/states.rs
  src-tauri/src/testing.rs
  src-tauri/src/utils.rs
Labels: type:testing, deskulpt:backend

#25 TST refine widget `fs` API unit tests
  src-tauri/src/apis/fs/apis.rs
  src-tauri/src/apis/fs/utils.rs
  src-tauri/src/bundler.rs
  src-tauri/src/commands.rs
Labels: tooling:apis, type:testing

#57 DOC Add README to repo and developer documentation to the website
  .lintstagedrc.js
  README.md
  public/deskulpt-full.png
  src-tauri/src/main.rs
  website/docs/development/developer-guide/_category_.yaml
  website/docs/development/developer-guide/contributing-code.mdx
  website/docs/development/developer-guide/documentation.mdx
  website/docs/development/developer-guide/index.mdx
  website/docusaurus.config.ts
Labels: type:doc

#58 MAINT better build and release workflows
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Labels: type:maintenance

#59 DOC release v0.0.1 and add release information to website
  LICENSE
  README.md
  package-lock.json
  package.json
  website/docs/guides/getting-started/_category_.yaml
  website/docs/guides/getting-started/index.mdx
  website/docs/guides/getting-started/installation.mdx
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/components/IconTabLabel/index.tsx
  website/src/components/IconTabLabel/styles.module.scss
  website/src/components/InstallationGrid/index.tsx
  website/src/css/custom.scss
  website/src/hooks/usePlatform/index.ts
  website/src/pages/index.module.scss
  website/src/pages/index.tsx
  website/tsconfig.json
Labels: type:doc
