Repository CSCI-SHU-410-SE-Project/Deskulpt, pull requests merged in 2024-04, with the labels that each got.

#7 FIX bundler removing `React` when not explicitly used in code
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bundler.rs
Labels: bug

#5 MAINT `cargo-clippy` is not included in `pre-commit` and ignore `eslint` warning for ignored files
  .lintstagedrc.js
Labels: maintenance

#10 TST unit tests for bundler
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bundler.rs
  src-tauri/tests/fixtures/bundler/dummy.js
  src-tauri/tests/fixtures/bundler/import_absolute/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_beyond_root/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/output.js
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/output.js
  src-tauri/tests/fixtures/bundler/import_relative/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_relative/input/utils.js
  src-tauri/tests/fixtures/bundler/import_relative/output.js
  src-tauri/tests/fixtures/bundler/import_relative_directory/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_relative_directory/input/utils/index.js
  src-tauri/tests/fixtures/bundler/import_relative_directory/output.js
  src-tauri/tests/fixtures/bundler/import_relative_no_ext/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_relative_no_ext/input/utils.js
  src-tauri/tests/fixtures/bundler/import_relative_no_ext/output.js
  src-tauri/tests/fixtures/bundler/import_relative_no_ext_jsx/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_relative_no_ext_jsx/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_relative_no_ext_jsx/output.js
  src-tauri/tests/fixtures/bundler/no_react/input/index.jsx
  src-tauri/tests/fixtures/bundler/no_react/output.js
  src-tauri/tests/fixtures/bundler/with_react_hook/input/index.jsx
  src-tauri/tests/fixtures/bundler/with_react_hook/output.js
Labels: maintenance

#11 FIX bundler parsing error should not panic
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bundler.rs
  src-tauri/src/commands.rs
Labels: bug

#13 FEAT Backend of widget fs api with rust unit test
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/widget_api/fs/apis.rs
  src-tauri/src/widget_api/fs/mod.rs
  src-tauri/src/widget_api/fs/utils.rs
  src-tauri/src/widget_api/mod.rs
Labels: architecture

#15 TST unit tests for `config.rs` and `testing` module for convenience
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/testing.rs
  src-tauri/tests/fixtures/config/conf_missing_field/deskulpt.conf.json
  src-tauri/tests/fixtures/config/conf_not_readable/deskulpt.conf.json/.gitkeep
  src-tauri/tests/fixtures/config/ignore_true/deskulpt.conf.json
  src-tauri/tests/fixtures/config/no_conf/.gitkeep
  src-tauri/tests/fixtures/config/no_package_json/deskulpt.conf.json
  src-tauri/tests/fixtures/config/not_a_directory
  src-tauri/tests/fixtures/config/package_json_missing_field/deskulpt.conf.json
  src-tauri/tests/fixtures/config/package_json_missing_field/package.json
  src-tauri/tests/fixtures/config/package_json_not_readable/deskulpt.conf.json
  src-tauri/tests/fixtures/config/package_json_not_readable/package.json/.gitkeep
  src-tauri/tests/fixtures/config/standard/deskulpt.conf.json
  src-tauri/tests/fixtures/config/standard/package.json
Labels: maintenance

#28 MAINT add pull request labeler
  .github/labeler.yaml
  .github/workflows/pull-request-labeler.yaml
Labels: maintenance

#26 TST/FIX fix bundler tests failures on Windows
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/bundler.rs
  src-tauri/src/config.rs
  src-tauri/tests/fixtures/bundler/dummy.js
  src-tauri/tests/fixtures/bundler/foo.js
  src-tauri/tests/fixtures/bundler/import/input/index.jsx
  src-tauri/tests/fixtures/bundler/import/input/utils.js
  src-tauri/tests/fixtures/bundler/import/output.js
  src-tauri/tests/fixtures/bundler/import_absolute/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_beyond_root/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_directory/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_directory/input/utils/index.js
  src-tauri/tests/fixtures/bundler/import_directory/output.js
  src-tauri/tests/fixtures/bundler/import_no_ext/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext/input/utils.js
  src-tauri/tests/fixtures/bundler/import_no_ext/output.js
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/output.js
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/input/index.jsx
Labels: backend, maintenance

#34 MAINT fix and refactor doc build workflow
  .github/workflows/doc-test.yaml
  .github/workflows/doc.yaml
Labels: maintenance

#31 ENH make widget `<div>` draggable
  package-lock.json
  package.json
  src/components/WidgetContainer/index.tsx
Labels: enhancement, frontend

#24 ENH add react boundary to catch rendering errors
  package-lock.json
  package.json
  src/canvas/main.tsx
  src/canvas/utils.tsx
  src/components/WidgetContainer/index.tsx
  src/utils.ts
Labels: enhancement, frontend

#36 ENH show manager window/close app using system tray
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/setup.rs
  src-tauri/tauri.conf.json5
Labels: enhancement, backend

#30 MAINT/RFC replace the custom `CommandOut<T>` enum with `Result<T, String>`
  src-tauri/src/commands.rs
  src-tauri/src/widget_api/fs/apis.rs
  src-tauri/src/widget_api/fs/mod.rs
  src/App.tsx
  src/canvas/main.tsx
  src/types/backend.ts
  src/types/frontend.ts
Labels: frontend, backend, maintenance

#45 RFC frontend widget state management
  src/App.tsx
  src/types/frontend.ts
Labels: frontend, maintenance

#41 FIX configuration error when `package.json` does not have `dependencies`
  src-tauri/src/bundler.rs
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/states.rs
  src-tauri/tests/fixtures/config/package_json_missing_field/package.json
  src-tauri/tests/fixtures/config/package_json_no_dependencies/deskulpt.conf.json
  src-tauri/tests/fixtures/config/package_json_no_dependencies/package.json
  src/App.tsx
  src/types/backend.ts
Labels: bug, backend

#23 ENH not removing deleted and ignored widgets on rescan
  src/App.tsx
  src/canvas/main.tsx
  src/types/frontend.ts
Labels: enhancement, frontend

#40 TST update bundler test to use `@deskulpt-test/react`
  src-tauri/src/bundler.rs
  src-tauri/tests/fixtures/bundler/import/input/index.jsx
  src-tauri/tests/fixtures/bundler/import/output.js
  src-tauri/tests/fixtures/bundler/import_directory/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_directory/output.js
  src-tauri/tests/fixtures/bundler/import_no_ext/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext/output.js
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_ext_jsx/output.js
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/input/index.jsx
  src-tauri/tests/fixtures/bundler/import_no_inner_react_def/output.js
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/input/MessageInner.jsx
  src-tauri/tests/fixtures/bundler/import_no_outer_react_def/output.js
  src-tauri/tests/fixtures/bundler/no_react/input/index.jsx
  src-tauri/tests/fixtures/bundler/no_react/output.js
  src-tauri/tests/fixtures/bundler/with_react_hook/input/index.jsx
  src-tauri/tests/fixtures/bundler/with_react_hook/output.js
  src/canvas/main.tsx
  src/types/index.ts
Labels: frontend, backend

#46 ENH better message when bundling entry does not exist
  src-tauri/src/bundler.rs
  src-tauri/tests/fixtures/bundler/entry_not_exist/.gitkeep
Labels: enhancement, backend

#42 ENH make config error fail only specific widgets
  src-tauri/src/commands.rs
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/states.rs
  src/App.tsx
  src/types/backend.ts
  src/types/frontend.ts
Labels: enhancement, frontend, backend

#49 MNT/FEAT migrate to Tauri v2 & stay-on-bottom + click-through
  .github/workflows/build.yaml
  .github/workflows/doc.yaml
  .github/workflows/lint-core.yaml
  .github/workflows/test-core.yaml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/canvas.json
  src-tauri/capabilities/common.json
  src-tauri/capabilities/manager.json
  src-tauri/permissions/apis-fs/default.toml
  src-tauri/permissions/autogenerated/bundle_widget.toml
  src-tauri/permissions/autogenerated/open_widget_base.toml
  src-tauri/permissions/autogenerated/refresh_widget_collection.toml
  src-tauri/permissions/autogenerated/toggle_click_through.toml
  src-tauri/src/apis/fs/apis.rs
  src-tauri/src/apis/fs/mod.rs
  src-tauri/src/apis/fs/utils.rs
  src-tauri/src/apis/mod.rs
  src-tauri/src/commands.rs
  src-tauri/src/main.rs
  src-tauri/src/setup.rs
  src-tauri/src/states.rs
  src-tauri/src/utils.rs
  src-tauri/src/widget_api/mod.rs
  src-tauri/tauri.conf.json
  src-tauri/tauri.conf.json5
  src/.scripts/raw-apis.js
  src/App.tsx
  src/components/WidgetContainer/index.tsx
  src/main.tsx
  src/types/index.ts
  tooling/apis/package-lock.json
  tooling/apis/package.json
  tooling/apis/rollup.config.ts
  tooling/apis/src/fs.ts
  views/canvas.html
Labels: frontend, backend, maintenance, architecture
